body {
  font-family: Arial;
  margin: 0;
  background: #0f172a;
  color: white;
}

header {
  text-align: center;
  padding: 25px;
  background: #1e3a8a;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h2 {
  margin-top: 30px;
  border-left: 4px solid #3b82f6;
  padding-left: 10px;
}

.card {
  background: #1e293b;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card span {
  font-size: 20px;
  font-weight: bold;
}

.future {
  background: #0b1220;
  border: 1px solid #334155;
}
